 <widget id="A6000093486263"  version="0.0.1">
    <name>meeshine</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <feature name="facebook">     <param name="urlScheme" value="fb2260718420859070" />     <param name="appId" value="2260718420859070" /> </feature> <feature name="google">   <param name="urlScheme" value="929233012223-07rksf7mhkh78mupgmruehqqv7ogp66q.apps.googleusercontent.com"/>    <param name="ios_clientID" value="929233012223-07rksf7mhkh78mupgmruehqqv7ogp66q.apps.googleusercontent.com"/>    <param name="android_clientID" value="929233012223-07rksf7mhkh78mupgmruehqqv7ogp66q.apps.googleusercontent.com"/> </feature></widget>